* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 12px;
  width: 100px;
  height: 40px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  text-align: center;
  color: #6070ff;
}

.navbar-menu-btn-container {
  margin-right: 24px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.main-introduction {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
}

.main-introduction h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.main-introduction p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-connect h3 {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
}

.social-icons {
  max-width: 130px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.background-layer-1 {
  background-image: url(./images/Background-svgs/header-background-mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 100vh;
}

.background-layer-2 {
  background-image: url(./images/Background-svgs/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -9;
  width: 100vw;
  height: 100vh;
}
