* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  /* border: 1px solid black; */
}

body {
  background-color: #e5e5e5;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 12px;
  width: 100px;
  height: 40px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  text-align: center;
  color: #6070ff;
}

.navbar-menu-btn-container {
  margin-right: 24px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.main-introduction {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
  background-color: white;
  background-image: url(./images/Background-svgs/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 80px;
}

.main-introduction h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.main-introduction p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-connect h3 {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
}

.social-icons {
  max-width: 130px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.works-section {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 88px;
  justify-content: center;
}

.work1 {
  margin-top: 96px;
}

.work4 {
  margin-bottom: 96px;
}

.works {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  border: 1px solid #dfe1e6;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 16px;
}

.left-block {
  margin-top: 12px;
}

.heading-area > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.client-frame {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-top: 20px;
}

.client-frame > li {
  margin-right: 12px;
  color: #7a869a;
}

.main-text {
  margin-top: 12px;
}

.lang-btns {
  display: flex;
}

.lang-btns > li {
  /* border: 1px solid black; */
  margin-right: 8px;
  margin-top: 12px;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.btn-container {
  width: 100%;
  margin-top: 12px;
}

.btn-container > button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 12px auto 12px 0;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}
