* {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

p {
  color: #344563;
}

.make-disappear {
  visibility: hidden;
}

.blur-bg {
  filter: blur(5px);
}

body {
  background-color: #e5e5e5;
}

.mobile-menu-list-ul {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.mobile-menu-list {
  position: fixed;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.75rem;
  font-style: normal;
}

.exit {
  align-self: flex-end;
  width: 24px;
  height: 24px;
}

.exit-popup-window {
  float: right;
  width: 1rem;
  height: 1rem;
  align-self: center;
  /* border: 1px solid black; */
}

.dark-bg-screen {
  display: flex;
  background-color: #c1c7d0;
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.pop-up-window-styles {
  position: fixed;
  top: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* width: 100vw; */
  /* height: 100vh; */
  z-index: 101;
  background-color: #fff;
  border-radius: 1rem;
  /* gap: 0.313rem; */
  /* align-self: center; */
  /* max-height: 95vh; */
}

.bottom-border-add {
  border-top: 0.125rem solid #ebecfo;
}

.pop-up-window-name-styles {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #172b4d;
  /* border: 1px solid black; */
  /* padding: 0; */
  padding-right: 0.875rem;
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#main-body {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 10;
  background-color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 12px;
  width: 100px;
  height: 40px;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  text-align: center;
  color: blue;
}

.navbar-menu-btn-container {
  margin-right: 24px;
  padding: 8px;
  display: flex;
  align-items: center;
}

.menu-list-items {
  display: none;
}

.main-introduction {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  gap: 12px;
  background-color: white;
  background-image: url(./images/Background-svgs/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 80px;
}

.main-introduction h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.main-introduction p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-connect h2 {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: blue;
  margin-bottom: 12px;
}

.social-icons {
  max-width: 130px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.works-section {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 88px;
  justify-content: center;
}

.work1 {
  margin-top: 96px;
}

.work4 {
  margin-bottom: 96px;
}

.works {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
}

.left-block {
  margin-top: 12px;
}

.heading-area > h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: 200px;
}

.client-frame {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-top: 20px;
}

.client-frame > .darker-color {
  margin-right: 12px;
  color: #344563;
}

.client-frame > li {
  margin-right: 12px;
}

.main-text {
  margin-top: 12px;
}

.lang-btns {
  display: flex;
}

.lang-btns > li {
  margin-right: 8px;
  margin-top: 12px;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #172dfa;
}

.btn-container {
  width: 100%;
  margin-top: 12px;
}

button {
  transition: 0.5s;
  cursor: pointer;
}

.btn-container button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 12px auto 12px 0;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.about {
  padding: 114px 24px;
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 80px;
}

.about-myself {
  display: flex;
  flex-direction: column;
}

.about-myself > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

.about-myself > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.social-media > h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #172dfa;
  margin-bottom: 26px;
}

.about-myself button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 12px auto 20px 0;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.skill-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 100%;
}

.language-dropdown {
  display: flex;
  justify-content: space-between;
  min-height: 72px;
  align-items: center;
}

.language-list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.language-list li {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px;
}

.language-list p {
  margin-left: 16px;
}

.frameworks,
.skills {
  display: flex;
  justify-content: space-between;
  min-height: 72px;
  align-items: center;
}

.font-config {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.dark-color {
  color: #344563;
}

.lighter-color {
  color: #1c1d1f;
}

.contact-form button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 12px auto 20px 0;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  margin-bottom: 57px;
}

button:hover,
button:focus {
  color: #fff;
  background: blue;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  background: blue;
  color: #fff;
}

button:disabled {
  border: 1px solid #c1c7d0;
  color: black;
}

.contact-form {
  background-color: #fff;
  width: 100%;
  margin-top: -1px;
}

.contact-me-background {
  background-color: #3448fd;
  width: 100%;
  height: 100%;
  border-top-left-radius: 80px;
  background-image: url(./images/Background-svgs/contact-form-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: contain;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 103px 24px;
  padding-bottom: 57px;
}

.contact-me h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 12px;
}

.contact-me p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.contact-form ul {
  width: 100%;
}

.contact-form li {
  width: 100%;
}

#name,
#email,
#msg {
  width: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  text-align: left;
  padding: 15px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

label {
  color: #fff;
  display: none;
}

#name,
#email {
  height: 48px;
  margin-bottom: 20px;
}

.contact-btn:hover {
  background-color: blue;
  color: #fff;
  border: 2px solid #fff;
}

@media screen and (min-width: 768px) {
  a {
    text-decoration: none;
  }

  #header-container {
    position: fixed;
    height: 52px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100vw;
    background-color: white;
    z-index: 9;
  }

  #navbar {
    justify-content: space-between;
    width: 80vw;
    z-index: 10;
    background-color: white;
    margin-left: 24px;
    margin-right: 24px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 12px;
    height: auto;
    width: auto;
  }

  .logo {
    text-align: center;
    vertical-align: middle;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: blue;
  }

  .navbar-menu-btn-container {
    display: none;
  }

  .menu-list-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .menu-list-items ul {
    display: flex;
    align-items: center;
  }

  .menu-list-items li {
    padding: 10px 12px;
    margin-left: 8px;
  }

  .menu-list-items a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #344563;
  }

  .main-introduction {
    background-image: url(./images/Background-svgs/Header-bg.svg);
    background-position-x: right;
    background-position-y: bottom;
    background-origin: content-box;
    background-size: contain;
    margin-top: -30px;
    z-index: -1;
    width: 100%;
  }

  .main-introduction h1 {
    padding-top: 14%;
    margin: auto 16%;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .main-introduction p {
    margin: auto 16%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .social-connect {
    margin: auto 16%;
    margin-bottom: 16%;
  }

  .works-section {
    gap: 142px;
  }

  .works {
    height: 70vh;
    margin: auto 10.1%;
  }

  .work2,
  .work4 {
    flex-direction: row-reverse;
  }

  .work1,
  .work3 {
    flex-direction: row;
  }

  .work1 {
    margin-top: 142px;
  }

  .work4 {
    margin-bottom: 142px;
  }

  .works-section img {
    width: 49%;
  }

  .left-block {
    margin: 4% 2%;
  }

  .heading-area > h3 {
    width: max-content;
  }

  .about {
    display: flex;
    padding: 0;
    height: auto;
    width: 100%;
  }

  .about-myself {
    width: 75%;
    margin: 10.1%;
    margin-right: 2%;
    margin-bottom: 8%;
  }

  .about-myself > h2 {
    margin-bottom: 14px;
  }

  .about-myself > p {
    margin-bottom: 14px;
  }

  .social-media > ul {
    margin-left: 5px;
    margin-bottom: 25px;
  }

  .skill-list {
    margin-top: 10.1%;
    padding: 0;
    margin-right: 10.1%;
  }

  .language-dropdown {
    margin: auto 25px;
  }

  .language-list {
    flex-direction: row;
    padding-left: 0;
  }

  .language-list li {
    width: 8vw;
    height: 120px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    padding-left: 12px;
    justify-content: space-between;
    margin: 0;
  }

  .language-list p {
    margin-bottom: 20px;
    margin-left: 0;
    padding: 0;
  }

  .frameworks,
  .skills {
    margin-left: 25px;
    margin-right: 25px;
  }

  .contact-me-background {
    position: relative;
    height: auto;
    background-image: url(./images/Background-svgs/contact-form-background-shapes.svg);
    display: flex;
    flex-direction: column;
    background-origin: content-box;
    background-position: center;
    background-size: contain;
  }

  .contact-me {
    width: 45%;
    align-self: center;
  }

  .contact-form form {
    width: 37%;
    align-self: center;
  }

  .contact-form-submit-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 127px;
  }

  .contact-form-submit-button-container button {
    margin: 0;
    margin-top: 16px;
  }

  #name,
  #email,
  #msg {
    border-radius: 0;
  }
}
